body{
    font-family:'Courier New', Courier, monospace;
    color: #9d0808;
}

.text-box{
    padding:10px;
    padding-right:none;
    border-style: solid;
    border-color: black;
}

.text-box:hover{
    border-color:aqua;
    background-color:grey;
}